*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  background-color: #000;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 10000px;
  transform-style: preserve-3d;

  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &.circle-behind {
      transform: translateZ(calc(var(--r) * -20px));
    }
  }

  .square {
    background-color: #0f08;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(360deg / 9 * var(--ro)));
    animation: changeColor 6s alternate infinite both;
  }
}

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(359deg);
  }
}
